@charset "UTF-8";

/* 回答はここに書いてね */
.q1-container {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff3f4;
}

.clearfix:after {
  content:"";
  display: block;
  clear:both;
}

.content_box {
  float: left;
  width: 230px;
  padding: 20px;
  margin-left: 20px;
  background-color: #3274ae;
}

.content_box:first-child {
  margin-left: 0;
}

.content_box_text {
  padding: 20px;
  border: 10px solid #022336;
  font-size: 16px;
  line-height: 16px;
  background-color: #eaf4ff;
}

/* 回答はここに書いてね */
