@charset "UTF-8";

/* 回答はここに書いてね */

.q7-box {
  width: 225px;
  font-size: 16px;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q7-float_box {
  box-sizing: border-box;
  float: left;
  margin-left: 50px;
}

.q7-float_box:first-child {
  margin-left: 0;
}

.q7-table_box {
  display: table;
}

.q7-table_c {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}

.q7-table_c:first-child {
  padding-left: 0;
}

.q7-inlineblock_wrapper {
  font-size: 0;
}

.q7-inlineblock_box {
  box-sizing: border-box;
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
}

.q7-inlineblock_box:first-child {
  margin-left: 0;
}

.q7-flex_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.q7-flex_item {
  box-sizing: border-box;
}

.q7-margin_wrapper {
  font-size: 0;
}

.q7-margin_box {
  display: inline-block;
  vertical-align: top;
}

.q7-margin_side {
  width: 300px;
}

.q7-margin_main {
  width: 100%;
  margin-left: -300px;
}

.q7-margin_text {
  font-size: 16px;
}

.q7-margin_main .q7-margin_text {
  margin-left: 350px;
}

/* 回答はここに書いてね */
