@charset "UTF-8";

/* 回答はここに書いてね */

.q6-1_left {
  text-align: center;
}

.q6-1_left_text {
  display: inline-block;
  width: 90px;
  padding: 10px 0;
  background-color: #e6f2ff;
}

.q6-1_right_margin {
  width: 90px;
  padding:10px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #e6f2ff;
}

.q6-table {
  display: table;
}

.q6-table .table_c {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.q6-table .table_c_text {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.q6-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6-flex .flex_text {
  padding: 10px;
  background-color: #fff;
}

.q6-fixed {
  position: relative;
}

.q6-fixed .fixed_text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.q6-variable {
  position: relative;
}

.q6-variable .variable_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* 回答はここに書いてね */
